
@font-face {
    font-family: 'bebas_neuebold';
    src: url('../fonts/bebasneue_bold-webfont.eot');
    src: url('../fonts/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_bold-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_bold-webfont.woff') format('woff'),
         url('../fonts/bebasneue_bold-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue_bold-webfont.svg#bebas_neuebold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bebas_neuebook';
    src: url('../fonts/bebasneue_book-webfont.eot');
    src: url('../fonts/bebasneue_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_book-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_book-webfont.woff') format('woff'),
         url('../fonts/bebasneue_book-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue_book-webfont.svg#bebas_neuebook') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bebas_neuelight';
    src: url('../fonts/bebasneue_light-webfont.eot');
    src: url('../fonts/bebasneue_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_light-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_light-webfont.woff') format('woff'),
         url('../fonts/bebasneue_light-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue_light-webfont.svg#bebas_neuelight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bebas_neueregular';
    src: url('../fonts/bebasneue_regular-webfont.eot');
    src: url('../fonts/bebasneue_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_regular-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_regular-webfont.woff') format('woff'),
         url('../fonts/bebasneue_regular-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue_regular-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'bebas_neuethin';
    src: url('../fonts/bebasneue_thin-webfont.eot');
    src: url('../fonts/bebasneue_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_thin-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_thin-webfont.woff') format('woff'),
         url('../fonts/bebasneue_thin-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue_thin-webfont.svg#bebas_neuethin') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansbold_italic';
    src: url('../fonts/opensans-bolditalic-webfont.eot');
    src: url('../fonts/opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bolditalic-webfont.woff') format('woff'),
         url('../fonts/opensans-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/opensans-bolditalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansextrabold';
    src: url('../fonts/opensans-extrabold-webfont.eot');
    src: url('../fonts/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-extrabold-webfont.woff') format('woff'),
         url('../fonts/opensans-extrabold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-extrabold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansextrabold_italic';
    src: url('../fonts/opensans-extrabolditalic-webfont.eot');
    src: url('../fonts/opensans-extrabolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-extrabolditalic-webfont.woff2') format('woff2'),
         url('../fonts/opensans-extrabolditalic-webfont.woff') format('woff'),
         url('../fonts/opensans-extrabolditalic-webfont.ttf') format('truetype'),
         url('../fonts/opensans-extrabolditalic-webfont.svg#open_sansextrabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansitalic';
    src: url('../fonts/opensans-italic-webfont.eot');
    src: url('../fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-italic-webfont.woff2') format('woff2'),
         url('../fonts/opensans-italic-webfont.woff') format('woff'),
         url('../fonts/opensans-italic-webfont.ttf') format('truetype'),
         url('../fonts/opensans-italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype'),
         url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanslight_italic';
    src: url('../fonts/opensans-lightitalic-webfont.eot');
    src: url('../fonts/opensans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/opensans-lightitalic-webfont.woff') format('woff'),
         url('../fonts/opensans-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/opensans-lightitalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.eot');
    src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff'),
         url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanssemibold_italic';
    src: url('../fonts/opensans-semibolditalic-webfont.eot');
    src: url('../fonts/opensans-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-semibolditalic-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibolditalic-webfont.woff') format('woff'),
         url('../fonts/opensans-semibolditalic-webfont.ttf') format('truetype'),
         url('../fonts/opensans-semibolditalic-webfont.svg#open_sanssemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}


html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  
}


p{ font-family: 'open_sansregular';
   font-size: 13px;
    line-height: 20px;}

button{font-family: 'bebas_neueregular';outline: none;}
img{width: 100%;max-width: 100%;}

section{width: 100%;clear: both;}
ul, li{list-style: none;font-family:'open_sanslight';}
.container{ width: 67%; margin: 0 auto; }


i.fa{color: #fff; 
	right: 20px;
    position: absolute;
    bottom: 0;}
i.fa.check:before{color: #f86b12; 
	}

 h2, h3{font-family: 'bebas_neuebold';font-size: 40px; }

a{text-decoration: none;}
/*Section 1*/
section#topo{height: 470px;}
header .container{ width: 67%; margin: 0 auto; padding-top: 16%;}

header img.banner{position: absolute;z-index: -1;top: 0;}

.banner_info {text-align: center;}
.banner_info h1{display: none;}
.banner_info h2.fontep{text-transform: uppercase;color: #fff3be;font-size: 18px;margin-top: 20px;}
.banner_info h2.fonteg{text-transform: uppercase;color: #fff3be;font-size: 24px;width: 75%;margin: 0 auto;margin-bottom: 15px;}

img.ldestaque{width: 80%;  margin-bottom: 10px;}

.banner_info p{color: #fff3be;font-size: 12px;width: 80%;margin: 0 auto}

button.bdestaque{background: #f86b12;padding: 10px 50px;font-size:20px;width: 60%;margin-top: 20px;color: #fff;border-bottom: 4px solid #c6540e !important;border: none;text-transform: uppercase;border-radius: 3px;}


/*Section 2*/
section#dois{margin-top: 100px;}

.dois_info{margin-top: 100px;}
.dois_info h2{color: #49430b;}
.dois_info p, .dois_info ul{color: #606060;padding: 0; margin: 20px 0 0 0;}
img.mulher{margin-left: -50px;}
li.check{background: url("../imgs/check.png") 0px 5px no-repeat;padding:0 0 10px 20px;font-size: 14px;}
/*Section 3*/
section#tres img.banner{position: absolute;z-index: 0;margin-top: -75px;}

.tres_info{color: #fff;}
.tres_info h3{text-transform: uppercase;line-height: 37px;font-size: 40px;}
.tres_info p{width: 97%;font-size: 13px;line-height: 22px;margin: 0;}
button.bdestaque2{background: #f86b12;padding: 10px 50px;font-size: 20px;width: 90%;margin-top: 20px;color: #fff;border-bottom: 4px solid #c6540e !important;border: none;text-transform: uppercase;border-radius: 3px;}
  
.nutricional{width: 50%; height: 393px; background: url("../imgs/joaninha.png") 0px 50px no-repeat;position: relative;margin-top: 20px;}

table{background: #fff;margin-left: 20px;position: absolute;z-index: 0;padding: 15px;font-size: 12px;border-radius: 3px;}
thead{text-align: center;}
td{ vertical-align:middle;}
thead td{width: 100%;clear: both;}
thead tr:nth-child(1){font-family: 'bebas_neuebold';font-size: 18px;color: #2a3005}
thead tr:nth-child(2){font-family: 'bebas_neuebold';font-size: 20px;color: #96931c}
tbody{display: block;color: #606060}
tbody tr{margin-top: 10px; border-bottom: 1px solid #d8d8d8;display: block;height: 15px;padding-bottom: 8px;}
tbody tr:last-child{border-bottom: none;}
tbody tr td:nth-child(1){float: left;margin-right: 15px;}
td span{display: block;}
td.talirig{float: right;}
span.plus_color{color: #f86b12}
.copo img{position: absolute;z-index: 99;top: 20px;left: 20px;}

/*Section 4*/
section#quatro{margin-top: 505px;height: auto;overflow: hidden;}
section#quatro h3{position: absolute;z-index: 9999;right: 0px;margin: 10px 0px;color: #49430b;}
#slideshow { width: 100%;overflow: hidden;}
#slideshow-wrapper {width: 1600em;height: 15em;position: relative;}
div.slide {width: 100em;height: 390px;float: left;background-repeat: no-repeat;background-size: contain;}
div.slide p{width: 24%;margin-left: 430px;font-size: 14px;}
div.slide h4{width: 24%;margin-left: 430px;font-size: 20px;margin-top: 70px;font-family: 'bebas_neuebold';color: #322e06}
#s1 {
    background-image: url("../imgs/slide2.jpg");
}
#s2 {
    background-image: url("../imgs/slide1.jpg");
}

#s3 {
    background-image: url("../imgs/slide2.jpg");
}
#s4 {
    background-image: url("../imgs/slide1.jpg");
}
#slideshow-nav {position: absolute;left: 430px;text-align: center;margin-top: 50px;}
#slideshow-nav a {font-family: 'bebas_neuebold';display: inline-block;width: 1.5em;height: 1.5em;line-height: 1.5;border: 1px solid silver;border-radius: 50%;color: #333;text-decoration: none;margin-right: 0.5em;}
#slideshow-nav a:after{border: 1px solid grey;}
#slideshow-nav a.active {background: #f86b12;color: #fff;border-color: #f86b12;}
#slideshow-nav div {margin: 1em 0;}

/*Section 5*/

section#cinco{height: auto;overflow: hidden;text-align: center;margin-bottom: 50px;}
section#cinco h3{color: #49430b;margin: 90px 0 0 0;}
.controls{float: right;
    margin-top: 15px;}
.controls a{
   display: inline-block;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5;
    border:1px solid #d1d1d1;
    margin:2px;
    color:black;
    text-decoration:none;
    border-radius:50%;
}

.controls a.page{display: none;}
.active{
    background:darkblue;
    color:white !important;
}

.controls a.prev{}

/* Plugin styles */
.social-feed-element.hidden{
    background-color:red !important;
}
.social-feed-element .pull-left{
    float:left;
    margin-right: 10px;
}
.social-feed-element .pull-right {
    margin-left: 10px;
}
.social-feed-element img {
    width: 100%;
    width: auto\9;
    height: auto;
    border: 0;  
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
}
.social-feed-element .attachment {
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
}

/* Link styles */
.social-feed-element a {
    color: #0088cc;
    text-decoration: none;
}
.social-feed-element a:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.social-feed-element a:hover,
.social-feed-element a:active {
    outline: 0;
    color: #005580;
    text-decoration: underline;
}

/* Text styles */
.social-feed-element small {
    font-size: 85%;
}
.social-feed-element strong {
    font-weight: bold;
}
.social-feed-element em {
    font-style: italic;
}
.social-feed-element p {
    margin: 0 0 10px;
}
.social-feed-element .media-body > p{
    
}
.social-feed-element p.social-feed-text {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    color: #fff;
}

/* Message styles */
.social-feed-element,
.social-feed-element .media-body {
    overflow: hidden;
    zoom: 1;
    *overflow: visible;
}

.social-feed-element .media-body{width: 60%}
.social-feed-element .media-body .social-network-icon{
    margin-top: -3px;
    margin-right:5px;
    width:16px;
}
.social-feed-element .media-body div{
    color:#666;
    line-height: 20px;
}

.social-feed-element .media-object {
    display: block;
    width:48px;
    border-radius:50%;
}
.social-feed-element .media-heading {
    margin: 0 0 5px;
}
.social-feed-element .media-list {
    margin-left: 0;
    list-style: none;
}

.social-feed-element .muted {
    color: #999;
}
.social-feed-element a.muted:hover,
.social-feed-element a.muted:focus {
    color: #808080;
}

.social-feed-element{
    
    transition: 0.25s;
    -webkit-backface-visibility: hidden;
    margin:-1px;
    margin-top:25px;
    background-color: #fff;
    color: #333;
    text-align:left;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 16px;
    position: relative;
    float: left;
    display: inline-block;
    
}
.social-feed-element:hover{
    box-shadow: 0 0 20px 0 rgba(10, 10, 10, 0.4);
}
.social-feed-element:nth-child(1){}
.social-feed-element:nth-child(2){}
.social-feed-element .content{
    padding:0px;
    position: absolute;
   bottom: 15px;
    left: 10px;
    width: 100%;
}
.social-feed-element .social-network-icon{
    opacity:0.7;
}


.social-feed-element .author-title{
    color: #fff;
    line-height: 1.5em;
    font-weight: 500;  
}

.box_social1{width: 25%; height: auto;overflow: hidden;float: left;}
.social-feed-element.social_dois{ margin-top: 1px}
.social-feed-element.social_tres{}
.social-feed-element.social_quatro{ }
.social-feed-element.social_cinco{margin-top: 1px;width: 52%; }
.social-feed-element.social_seis{margin-top: 1px; width: 49%;}

/*Footer*/
footer{background: #fbfbfb; width: 100%; text-align: center;padding: 30px 0 10px 0;position: absolute;border-top: 1px solid #f2eeee;}
footer img{width: 20%;}
footer ul {display: inline-block;}
footer ul li{float:left; width: 40px;}
footer ul li a.fb{background: url("../imgs/facebook.png") no-repeat;width: 9px; height: 16px;text-indent: -5000px;color: transparent;}

footer ul li a.tw{background: url("../imgs/twitter.png") no-repeat;width: 9px; height: 16px;text-indent: -5000px;color: transparent;}

footer ul li a.insta{background: url("../imgs/instagram.png") no-repeat;width: 9px; height: 16px;text-indent: -5000px;color: transparent;}

.col-sm-5.novosize{width: 43%;}
.col-sm-4.novosize{width: 30%;}
